<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>其他相關連結</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#ffe493; font-size:50px;}
		h2 {color:#68aded; font-size:50px;}
		h3 {color:#ff93ae; font-size:25px;}
		h4 {font-size:25px;}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
	<main class="container-fluid bg-dark text-white text-center">
	<table width="70%">
		<tr>
			<td>
				<main>
				<main class="container-fluid bg-light text-white text-center">
				<h1>相關連結</h1>
				<main class="container-fluid bg-light text-white text-center">
			</td>
		</tr>
	</table>

	<table width="70%">
		<tr>
			<td>
				<img src="/static/int.jpg" width="80%" id="pic" onmouseover="change1()" ></img>
			</td>
		</tr>
	</table>


	
	<table width="100%" border="1">
		<tr>
			
			<td>
				<main class="container-fluid bg-white text-white text-center">
				<h2>公司:</h2>
				<h4><a href="https://www.104.com.tw/company/13g5fso8">益在企業股份有限公司</a></h4><br>
				<main class="container-fluid bg-white text-white text-center">
			</td>

			<td>
				<main class="container-fluid bg-white text-white text-center">
				<h2>1111人力銀行:</h2>
				<h4><a href="https://www.1111.com.tw/Resume/ResumeEdit?resumeGuid=5163b143-ef9c-4b88-a6d8-c43903a34d4d#work_experience_area">我的履歷表</a></h4><br>
				<main class="container-fluid bg-white text-white text-center">

			</td>

			<td>
				<main class="container-fluid bg-white text-white text-center">
				<h2>就業職能平台:</h2><br>
				<h4><a href="https://ucan.moe.edu.tw/Account/Login.aspx">大專院校就業職能平台</a></h4><br>
				<main class="container-fluid bg-white text-white text-center">
				</main>

			</td>
		</tr>
	</table>
	
	<footer>
		Copyright ©  楊荃喜. All Rights Reserved.
	</footer>
	<main class="container-fluid bg-dark text-white text-center">
</body>
</html>